<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
    <h1> FORM TABLE</h1>
<table>
  <tr>
    <th>name</th>
    <th>email</th>
    <th>password</th>
  </tr>
<%for (var i = 0; i < userdata.length ; i++) { %>
    <tr>
        <td><%= userdata[i].name %></td>
        <td><%= userdata[i].email %> </td>
        <td><%= userdata[i].password %></td>
          <td><a href="showuser/edit/<%= userdata[i].id%>" class="btn btn-sm btn-info">Edit</a></td>
  			
          <td><a href="showuser/delete/<%= userdata[i].id%>" data-toggle="modal" class="btn btn-sm btn-danger">Delete</a></td>  
        
    </tr>

    <% } %>

    
</table>